h1{
    color: white;
    text-align: center;
    font-size: 40px;
    background-color: rgb(36, 18, 117);
}

.left-side{
    display:block;
    width: 17%;
    flex-direction: row;
}

.location{
    margin-bottom: 10px;
}

#location-input{
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
}

button{
    width: 200px;
}

hr.solid {
    border-top: 3px solid #bbb;
}