/* Reset styles */
body, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden; 
    }
    
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('./background.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        opacity: 0.35;
        z-index: -1;
    }

header {
    display: flex;
    color: white;
    background-color: blue;
    background-image: linear-gradient(to right, #3e3eff, #3d0076);
    padding: 0.5px;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
}

.cityResponse {
    width: 25%;
    display: block;
    border-bottom: solid black 1px;
    padding-top: 2.5%;
    line-height: 2;
}

.cityResponse input {
    width: 96%;
    height: 30px;
    padding: 0% 0% 0% 2%;
    border-radius: 5px;
    font-size: large;
}

.btn:hover {
    transform: scale(1.1);
    opacity: 1;
}

.cityResponse button {
    width: 100%;
    background-color: #93f673;
    margin: 4% 8% 8% 0%;
    padding: 2%;
    border-radius: 5px;
    opacity: .8;
}


.history {
    width: 25%;
    padding-top: 1%;
}

.history button:hover {
    opacity: 80%;
}

.history button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    background-color: #73d5f6;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
}


.statusCurrent {
    width: 66.6666%;
    margin: 1% 0% 0% 2%;
    padding: 1% 0% 0% 2%;
    border: solid black 1px;
    height: 160px;
    line-height: 1.75;
    font-weight: bolder;
    font-size: 20px;
}

.box {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: calc(20% - 10px); 
    box-sizing: border-box; 
}

.day1, .day2, .day3, .day4, .day5 {
    margin: 4px;
    font-size: 13px;
    height: 225px;
    width: 25%;
    padding: 5px;
  }

.fiveDayContainer {
    margin-top: 15px; 
    clear: both; 
    width: 70%;
    padding-left: 20px;
    padding-bottom: 40px;
}

.containerForecast {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    width: 75%; 
    height: 40px;
}

.containerForecast .box {
    flex-basis: calc(20% - 20px); 
    font-size: small;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px; 
    background-color: #333;
    color: white;
    overflow: hidden; 
    font-size: larger;
    }

.boxes {
    width: 90%;
    margin: 10px 0px 0px 20px;
    padding: 5px;
    display: flex;
  }


.message-container {
    position: absolute;
    top: 0;
    left: 100%; 
    white-space: nowrap;
    animation: moveBanner 10s linear infinite; 
    display: flex; 
    align-items: center; 
}

.message {
    padding: 15px; 
}

@keyframes moveBanner {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 2000px)); 
    }
}